service: myia-serverless-pdf-creator-api

provider:
  name: aws
  runtime: nodejs8.10
  region: >-
    ${opt:region, self:provider.environment.DEFAULT_REGION}
  stage: "${opt:stage, self:custom.defaults.stage}"
  profile: default
  timeout: 30
  tracing: true
  environment:
    AWS_CURRENT_REGION: "${self:provider.region}"
    AWS_CURRENT_STAGE: "${self:provider.stage}"
    DEFAULT_REGION: eu-central-1
    SNS_PORT: "${self:custom.defaults.ports.sns}"
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "xray:*"
        - "sns:*"
      Resource: "*"
plugins:
  - serverless-prune-plugin
  - serverless-plugin-tracing
  - serverless-apigw-binary
  - serverless-apigwy-binary
  - serverless-offline-sns
  - serverless-offline
  - serverless-webpack
custom:
  apigwBinary:
    types:
      - "*/*"
  defaults:
    stage: local
    ports:
      sls: "6567"
      sns: "6575"
  profiles:
    local: "${self:service}-local"
    dev: "${self:service}-dev"
    staging: "${self:service}-staging"
    prod: "${self:service}-prod"
  prune:
    automatic: true
    number: 1
  serverless-offline:
    port: "${self:custom.defaults.ports.sls}"
    prefix: "${self:provider.stage}"
    region: "${self:provider.region}"
    stage: "${self:provider.stage}"
  serverless-offline-sns:
    host: '${env:SLS_HOST_IP, "127.0.0.1"}'
    port: "${self:custom.defaults.ports.sns}"
    sns-endpoint: >-
      http://${self:custom.serverless-offline-sns.host}:${self:custom.serverless-offline-sns.port}
  webpack:
    includeModules:
      forceExclude:
        - aws-sdk
        - aws-lambda
functions:
  create-pdf:
    memoriSize: 1536
    handler: src/create-pdf.ts
    events:
      - http:
          cors: true
          method: POST
          path: /create-pdf
          contentHandling: CONVERT_TO_BINARY
    layers:
      - { Ref: ChromeLambdaLayer }

  # Event listeners
  create-pdf-listener:
    handler: src/create-pdf-listener.ts
    timeout: 900
    memorySize: 3008
    events:
      - sns: "${self:provider.stage}CreatePDF"

layers:
  chrome:
    path: layer
